h1 {
    font-size: 4vw;
}

body {
    background-color: #f1f1f1;
    font-family: 'Montserrat', sans-serif;
  }
  
  nav {
    height: 60px;
  }
  
  nav .brand-logo {
    font-size: 28px;
  }
  
  .card {
    margin-top: 20px;
    box-shadow: none;
    border: 1px solid #ddd;
  }
  
  .card .card-title {
    font-size: 24px;
  }
  
  .btn {
    background-color: #2196f3;
  }
  
  .btn:hover {
    background-color: #0d47a1;
  }
  
  input[type="text"]:focus {
    border-bottom: 2px solid #2196f3;
    box-shadow: none;
  }
  